In [1]:
import pandas as pd

In [2]:
df = pd.read_json (r'C:\Users\shing\DataAnalysisUsingWebScraping\Makaan_scrape\propertyData.json')

In [3]:
df.to_csv (r'C:\Users\shing\DataAnalysisUsingWebScraping\Makaan_scrape\Makaan_scrape\spiders\propertyData.csv', index = None)

In [4]:
d1=pd.read_csv("C:\\Users\\shing\\DataAnalysisUsingWebScraping\\Makaan_scrape\\Makaan_scrape\\spiders\\propertyData.csv")

In [5]:
d1.shape

(55372, 9)

## Observation
    The data we extrated contains 55372 rows and 9 columns

In [6]:
d1.head()

,title,projectname,builder,price,per_sqft,area,status,place,rating
0,3 BHK Apartment,Ecogreen Casa Traimbak,Eco Green Builders,6598000,"4,200 / sq ft",1571,Under Construction,Gundlapochampally,0.0
1,4 BHK Villa,Elemental Village,Elemental Realty,14800000,"7,700 / sq ft",1930,Under Construction,Patancheru,0.0
2,4 BHK Villa,Riddhi Laxman County,Riddhi Group,29900000,"7,200 / sq ft",4157,Under Construction,Tukkuguda,0.0
3,4 BHK Villa,APR Praveens Hillside,APR Group,40800000,"12,000 / sq ft",3400,Under Construction,Bachupally,0.0
4,4 BHK Villa,Sri GREENTECH O2 Community,Sri Aditya Squares,17500000,"5,500 / sq ft",3183,Under Construction,Ramachandrapuram,0.0

In [7]:
d1.keys()

Index(['title', 'projectname', 'builder', 'price', 'per_sqft', 'area',
       'status', 'place', 'rating'],
      dtype='object')

In [8]:
d1.dtypes

title           object
projectname     object
builder         object
price            int64
per_sqft        object
area             int64
status          object
place           object
rating         float64
dtype: object

## Observations:
     Our features in the data set are title, location,price in lakhs, rate_persqft, area_insqft, building_status, agent_rating.
    title : Defines the title name of the property, whose datatype is string
    location : Defines about the locality(area) of the property, whose datatype is string
    price(L) : Defines the price of a property in lakhs, whose datatype is float.
    rate_persqft : Defines the rate per unit sqft of property, whose datatype is int.
    area_insqft : Defines the total area of property, whose datatype is int.
    building_status : Define about the current status of builiding, whose datatype is string
    agent_rating : Defines about the rating of agent given by the customers, whose datatype is float.

In [12]:
d1.describe()

              price          area        rating
count  5.537200e+04  5.537200e+04  51387.000000
mean   9.782449e+06  2.060050e+03      0.014928
std    2.042891e+07  9.929146e+03      0.266375
min    1.300000e+05  8.000000e+01      0.000000
25%    2.430000e+06  1.300000e+03      0.000000
50%    5.748000e+06  1.625000e+03      0.000000
75%    9.900000e+06  2.043000e+03      0.000000
max    7.200000e+08  1.745201e+06      4.900000